<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - University</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/navbar.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/0550389aeb.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="upper-line"></div>
        <div id="navLine" class="line"></div>
        <div class="container">
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                    <a class="navbar-brand text-black fs-3 fw-bold" href="#">University</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon fa-solid fa-bars fs-4"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="container-sm">
                            <div class="navbar-nav">
                                <a id="index" class="nav-link fs-5" asp-action="Index">Главная</a>
                                <a id="plan" class=" nav-link fs-5" asp-action="Plan">План обучения</a>
                                <a id="lessons" class="nav-link fs-5" asp-action="Plans">Занятия и оценки</a>
                                <a id="reports" class="nav-link fs-5" asp-action="Reports">Отчётность</a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer pb-5">
        <div class="container-sm">
            <h1 class="text-center fs-4 mb-3 mt-4">2023 - TeacherApp</h1> 
            <div class="d-flex justify-content-center mt-2 mb-4">
                <div class="mid-solid-line"></div>
            </div>
            <p class="mb-1 mt-1 text-center">Образование – это незаменимая составляющая нашей жизни. 
                Оно даёт возможность расширять свои знания, развивать личность и
                достигать новых вершин. На сайте мы собрали для вас полезную 
                информацию о различных образовательных программах и курсах, 
                которые помогут вам реализовать свой потенциал. Мы верим, что 
                образование – лучший способ инвестировать в себя и своё будущее</p>
            <div class="d-flex justify-content-center mt-4 mb-4">
                <div class="mid-normal-line"></div>
            </div>
            <p class="mb-0">Поддержите нас</p>
            <a href="https://www.youtube.com/watch?v=rXbPAT62hSs">Поддержать тут</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>